#squares-container{
    border: 1px #000000 solid;
    height: 450px;
    width: 800px;
    text-align: center;
    background-color: gray;
  
}
.even{
    border: 1px #000 dashed;
    width: 50px;
    height: 50px;
    margin: 4px auto;
    background-color: blueviolet;
    transition: all 6s;
}

.odd{
    border: 1px #000 solid;
    width: 50px;
    height: 50px;
    margin: 4px auto;
    background-color: blue;
    transition: all 6s;
}
#squares-container:hover .odd{
    transform: translateX(372px) rotate(1080deg) scale(.75,.75);
}
#squares-container:hover .even{
    transform: translateX(-332px) rotate(-1080deg) scale(2,2);
}
#squares-container:hover {
   height: 480px;
   transition-duration: border-radius 2ms 220ms;
  
   border-radius: 25px;
}